@tailwind base;
@tailwind components;
@tailwind utilities;

/*AJUSTES DEL COMPONENTE INICIO*/
@media (min-width: 1023px) {
  
 
  .portafolio{
    height: auto;
  }
  
  .icon{
    background-color: #031a6b8c;
    border-radius: 30%;
  }
  .icon img{
    width:90px;
    margin: 0 auto;
  }
  .txt-about4 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 2em;
  }
  .txt-parrafo {
    color: #031a6b;
    line-height: 1;
    font-weight: 700;
    margin-top: -8rem;
    margin-right: -2rem;
  }

  .txt-name {
    color: #931621;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2em;
    margin-left: 6rem;
    margin-top: -6rem;
  }

  .redes {
    width: 280px;
    position: absolute;
    bottom: 0;
    left: 2rem;
  }

  .code {
    width: 4rem;
    bottom: 9.2rem;
    position: absolute;
    margin-left: -1rem;
  }

  .memoria {
    bottom: 22rem;
    position: absolute;
    margin-left: 10rem;
  }
  /*AJUSTES DEL COMPONENTE SobreMi*/
  .about1 {
    padding-right: 8rem;
    margin-top: -rem;
  }
  .About {
    color: black;
    height: 100rem;
  }
  .Formacion {
    position: relative;
    background-image: url("../src/assets/images/dnaranja.png"); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: black;

  }
}
@media (max-width: 1022px) {
  .txt-parrafo {
    display: none;
  }
  .txt-name{
    color: #031a6b;
    font-weight: bold;
    
  }
}

@media (max-width: 1022px) and (min-width:672px ) { 
  .txt-parrafo {
    display: flex;
    font-size: 6rem;
    margin-top: -10rem;
    margin-left: 25rem;
    color: #031a6b;
    font-weight: bold;
  }
  .txt-about4 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1em;
  }
   .icon{
    background-color: #031a6b8c;
    border-radius: 30%;
  }
  .icon img{
    width:95px;
    margin: 0 auto;
  }
  .portafolio{
    min-height: 30rem;
  }
  .card{
    margin: 0 auto;

  }
  .About {
    color: black;
    min-height: 110rem;
  }
 
  .txt-name h1{
    color: #931621;
    font-weight: bold;
    font-size: 5rem;
  }
  .text-last{
    font-size: 2rem;
  }
  .memoria li{
    font-size: 1rem;
    margin-right: 10rem;
  }
  .code img{
    margin-right: 10rem;
    width: 8rem;
  }
  .redes img{
    width: 3rem;
  }
}

@media (max-width: 672px) and (min-width:501px ) {
  .inicio{
    background-image: url(../src/assets/images/fondoInicio.png);
    background-size: cover;
    background-position: center center;
  }
  .icon{
    background-color: #031a6b8c;
    border-radius: 30%;
  }

  .icon img{
    width:80px;
    margin: 0 auto;
  }

  
.portafolio{
  min-height: 60rem;
}
  .card{
    margin: 0 auto;
    max-width: 15rem;
    margin-bottom: 2rem;
  }
 
  .About {
    color: black;
    min-height: 16rem;
  }
  .about2{
    background-image: url(../src/assets/images/copia.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sakura {
    display: none;
  }

  .txt-about3{
    font-size: 1.5rem;
    color: #931621;
    font-weight: bold;
    margin: 0 auto;
  }
 .description{
  margin-top: 3rem;
 }
}

@media (max-width: 500px) {
  .card{
    margin: 0 auto;
    max-width: 15rem;
    margin-bottom: 2rem;
  }
  .icon img{
    width: 120px;
  }
  .icon{
    background-color: #031a6b8c;
    border-radius: 30%;
  }
  .about2{
    background-image: url(../src/assets/images/copia.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .About {
    color: black;
    min-height: 175rem;
  }
  .sakura {
    display: none;
  }
  .txt-name h1{
    font-size: 2rem;
    color: #031a6b;
  }
  .txt-about2 h1{
    font-size: 1.7rem;
    text-align: center  ;
  }
  .txt-about3{
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 900;
    color: #931621;
    letter-spacing: 1rem;
  }
  .inicio{
    background-image: url(../src/assets/images/fondoInicio.png);
    background-size: cover;
    background-position: center center;
  }
 
}

@media (max-width: 290px) {
  .card{
    margin: 0 auto;
    max-width: 10rem;
    margin-bottom: 2rem;
  }
 }

/*AJUSTES DEL COMPONENTE INICIO*/
.inicio {
  color: black;
  background-repeat: no-repeat;
}

/*AJUSTES DEL COMPONENTE SobreMi*/
.txt-about3 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2em;
}
.sakura {
  margin-top: -2.1rem;
  margin-right: -2.4rem;
}
.foto-me {
  border-radius: 50%;
}

.skills{
  margin: 0 auto;
}

/*AJUSTES DEL COMPONENTE SobreMi*/
.footer{
  background-color: #c3b995;
  color: black;
}
.card{
  margin: 0 auto;
  margin-bottom: 2rem;
}
.icon img:hover{
  background-color: #0b0b0e44;
  border-radius: 30%;
}
.cuadro1 {
  border: 1px solid #714056;
  grid-area: n1;
}

.cuadro2 {
  border: 1px solid #714056;
  grid-area: n2;
  border: 1px solid #714056;
  /* Ajusta el grosor del borde según tus preferencias */
  height: 50%;
  /* Divide el contenedor en dos espacios iguales verticalmente */
  text-align: center;
  line-height: 2;
}

.cuadro3 {
  border: 1px solid #714056;
  grid-area: n3;
}

.cuadro4 {
  border: 1px solid #714056;
  grid-area: n4;
  background-color: #714056;
}

.cuadro5 {
  border: 1px solid #714056;
  grid-area: n5;
  background-image: url(../src/assets/images/yo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cuadro6 {
  border: 1px solid #714056;
  grid-area: n6;
}

.cuadro7 {
  border: 1px solid #714056;
  grid-area: n7;
  background-color: #8d8d8d;
}

.cuadro8 {
  border: 1px solid #714056;
  grid-area: n8;
}

.cuadro9 {
  border: 1px solid #714056;
  grid-area: n9;
}

.cuadro10 {
  border: 1px solid #714056;
  grid-area: n10;
  background-image: url(../src/assets/images/letras.png);
  background-size: cover;
}

.inner-box {
  width: 80%;
  height: 80%;
  background-color: #c1c6c9;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: 1px solid #714056;
}

.portafolio {
  background-repeat: repeat;
  background-size: contain;
  background-image: url(../src/assets/images/fondo.png);
}

.main {
  height: auto;
  background-color: #e8ddb5;
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.burbuja {
  border-radius: 50%;
  background: #412029;
  opacity: 0.3;
  position: absolute;
  bottom: -150;
  animation: burbujas 7s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 30%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.burbuja:nth-child(4) {
  width: 80px;
  height: 80px;
  right: 20%;
  animation-duration: 4s;
  animation-delay: 4s;
}

.burbuja:nth-child(5) {
  width: 40px;
  height: 40px;
  right: 30%;
  animation-duration: 9s;
  animation-delay: 2s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 30%;
  animation-duration: 7s;
  animation-delay: 4s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  right: 30%;
  animation-duration: 3s;
  animation-delay: 7s;
}

.burbuja:nth-child(8) {
  width: 20px;
  height: 20px;
  right: 35%;
  animation-duration: 5s;
  animation-delay: 3s;
}

.burbuja:nth-child(9) {
  width: 100px;
  height: 100px;
  right: 20%;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }

  30% {
    transform: translateX(40px);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

.txt-name2 {
  margin-top: -1.3rem;
}

.list-about p:hover {
  color: #412029;
}

.txt-div {
  margin-top: -6rem;
  margin-right: -18rem;
}

.txt-p {
  margin-top: 4rem;
  padding-right: 4rem;
}

.list {
  margin-top: -368.5rem;
}

.txt-ul {
  margin-right: -12rem;
  margin-top: 9rem;
}

.imagen-me {
  border-radius: 50%;
}
